.para {
    font-size: 1.5em;
    line-height: 1.5em;
}

a {
    background-color: steelblue;
    font-size: 1.5em;
    color: white;
    padding: 10px;
    text-decoration: none;
}

#active {
    background-color: white;
    color: steelblue;
}