main {
    max-width: 840px;
}

aside {
    margin: 1em;
    border: 1px solid rgbas(0, 0, 0, 0.2);
    padding: 1em;
    background-color:#8b008b;
    color:#f0f8ff;
    text-align: center;
    width: 20em;
    position: relative;
}

aside h2 {
    position: absolute;
    top: 47px;
    left: 130px;
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
    float: right;
}

p { padding: 0;}

footer {
    margin-top: 1em;
    border-top: 1px solid #000;
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid rgba(0,0,0,.1);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}

